<% contentFor('body') %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-6">
			<div class="small-box bg-info">
				<div class="inner">
					<h3><%= userCount %></h3>
					<p>تعداد کاربران سایت</p>
				</div>
				<div class="icon">
					<i class="fas fa-users"></i>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-6">
			<div class="small-box bg-success">
				<div class="inner">
					<h3><%= agentCount %></h3>
					<p>تعداد مشاوران املاک</p>
				</div>
				<div class="icon">
					<i class="fas fa-building"></i>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-6">
			<div class="small-box bg-warning">
				<div class="inner">
					<h3><%= adsCount %></h3>
					<p>تعداد آگهی های ثبت شده</p>
				</div>
				<div class="icon">
					<i class="fas fa-ad"></i>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-6">
			<div class="small-box bg-danger">
				<div class="inner">
					<h3><%= adsExpireCount %></h3>
					<p>تعداد آگهی های منقضی شده</p>
				</div>
				<div class="icon">
					<i class="fas fa-ad"></i>
				</div>
			</div>
		</div>
	</div>

	<!--? Sales Chart -->
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">گزارش فروش</h5>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">
								<strong>فروش سال <%= date(Date.now()).format('jYYYY') %></strong>
							</p>
							<div class="chart">
								<canvas id="salesChart" height="100px"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-sm-6 col-6">
							<div class="description-block border-left">
								<span class="description-percentage text-warning">
									<i class="fa fa-caret-left"></i>
								</span>
								<h5 class="description-header">0 تومان</h5>
								<span class="description-text">فروش کل</span>
							</div>
						</div>
						<div class="col-sm-6 col-6">
							<div class="description-block border-left">
								<span class="description-percentage text-success">
									<i class="fa fa-caret-up"></i>
								</span>
								<h5 class="description-header">0 تومان</h5>
								<span class="description-text">فروش ماه</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--! Sales Chart -->

	<!--? Main row -->
	<div class="row">
		<section class="col-lg-6">
			<!--? TO DO List -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">
						<i class="ion ion-clipboard mr-1"></i>
						یادداشت ها
					</h3>
					<div class="card-tools">
						<div class="form-group">
							<div class="input-group">
								<button href="#" class="btn btn-sm btn-success" data-toggle="modal"
									data-target="#TodoModal">
									<i class="fa fa-plus"></i> جدید
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<ul id="myUL" class="todolist">
						<% todos.forEach(todo => { %>
						<li id="<%= todo._id %>" class="todo <%= todo.status == false ? 'checked' : '' %>">
							<%= todo.title %>
							<form action="/admin/todo/<%= todo._id %>?_method=DELETE" method="post">
								<input type="hidden" name="_csrf" value="<%= req.csrfToken() %>" />
								<button style="border: 0px;" type="submit" class="close-todo"><span>×</span></button>
							</form>
						</li>
						<% }) %>
					</ul>
				</div>
				<!--! TO DO List -->

				<!--? Create Todo Modal -->
				<div class="modal fade" id="TodoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="form">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">
									ثبت یادداشت جدید
								</h5>
								<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form action="/admin/todo/create" method="POST">
									<input type="hidden" name="_csrf" value="<%= req.csrfToken() %>" />
									<div class="form-group">
										<label for="recipient-name" class="col-form-label">
											عنوان
										</label>
										<input type="text" name="title" class="form-control" id="recipient-name" />
									</div>
									<button type="submit" class="btn btn-primary">ثبت</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal">
										بستن
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--! Create Todo Modal -->
			</div>
			<!--! TO DO List -->
		</section>

		<section class="col-lg-6 connectedSortable">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">آخرین نمایندگی ها</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="card-body p-0">
					<ul class="users-list clearfix">
						<% agents.forEach(agent => { %>
						<li>
							<img src="<%= agent.logo ? agent.logo[480] : '/images/profile.png' %>" />
							<a class="users-list-name mt-2" href="#"><%= agent.title %></a>
							<span class="users-list-date"><%= date(agent.createdAt).fromNow() %></span>
						</li>
						<% }) %>
					</ul>
				</div>
				<div class="card-footer text-center">
					<a href="/admin/estate">مشاهده همه نمایندگی ها</a>
				</div>
			</div>
		</section>
	</div>
	<!--! Main row -->
</div>

<% contentFor('script') %>
<script src="/plugins/chart.js/Chart.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/fetch.js"></script>

<script>
	var list = document.querySelector('.todolist');
	list.addEventListener(
		'click',
		function (ev) {
			if (ev.target.tagName === 'LI') {
				ev.target.classList.toggle('checked');
				let id = ev.target.id;
				if (ev.target.classList.contains('checked')) {
					const URL = `/admin/todo/condition/false/${id}?_method=PUT&_csrf=<%= req.csrfToken() %>`;
					$(document).ready(function () {
						postData(URL);
					});
				} else {
					const URL = `/admin/todo/condition/true/${id}?_method=PUT&_csrf=<%= req.csrfToken() %>`;
					$(document).ready(function () {
						postData(URL);
					});
				}
			}
		},
		false
	);
</script>