<% contentFor('style') %>
<link rel="stylesheet" href="/plugins/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="/css/persian-datepicker.min.css" />
<link rel="stylesheet" href="/css/select2.css" />
<link rel="stylesheet" href="/css/profilepicker.css" />
<link rel="stylesheet" href="/css/radio.css" />
<link rel="stylesheet" href="/css/agent-auth.css" />
<link href="https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.css" rel="stylesheet" type="text/css">
<script src="https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.js" type="text/javascript"></script>

<style>
	.container {
		width: 100% !important;
		height: 100% !important;
	}
</style>

<% contentFor('body') %>
<!--? Main Content -->
<section class="container">
	<section class="card">
		<!--? Card Body -->
		<div class="card-body">
			<div class="alert alert-warning" role="alert">
				پر کردن موارد ستاره دار الزامی است!
				<i class="fas fa-info-circle" style="margin-left: 20px; font-size: 1.5rem;"></i>
			</div>
			<form class="form-horizontal content" action="/auth/agent/register/consoltant?_csrf=<%= req.csrfToken() %>"
				method="post" enctype="multipart/form-data">
				<%- include(viewPath('layouts/errors')) -%>

				<input name="mobile" type="text" value="<%= mobile %>" readonly hidden />

				<input name="code" type="text" value="<%= code %>" readonly hidden />

				<!--? Select Avatar -->
				<label>انتخاب آواتار کاربر</label>
				<div class="content-group">
					<div class="row">

						<!--? Profile Picker -->
						<div class="col-xs-4">
							<div class="small-12 medium-2 large-2 columns">
								<div class="profile-circle">
									<img id="profile" class="profile-pic" src="/images/profile.png" />
								</div>
								<div class="p-image">
									<i class="fa fa-camera upload-profile-button"></i>
									<i class="fa fa-remove remove-profile-button"></i>
									<input name="image" class="profile-upload" type="file" accept="image/*" hidden />
								</div>
							</div>
						</div>
						<!--! Profile Picker -->

						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" name="avatar" class="radio-select" value="/images/avatar-01.png"
									checked />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-01.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" class="radio-select" name="avatar" value="/images/avatar-02.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-02.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" name="avatar" class="radio-select" value="/images/avatar-03.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-03.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" class="radio-select" name="avatar" value="/images/avatar-04.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-04.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" name="avatar" class="radio-select" value="/images/avatar-06.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-06.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" class="radio-select" name="avatar" value="/images/avatar-05.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-05.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" name="avatar" class="radio-select" value="/images/avatar-07.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-07.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" class="radio-select" name="avatar" value="/images/avatar-08.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-08.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" name="avatar" class="radio-select" value="/images/avatar-09.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-09.png" class="img-avatar" />
							</label>
						</div>
						<div class="col-xs-4">
							<label class="radio">
								<input type="radio" name="avatar" class="radio-select" value="/images/avatar-10.png" />
								<span class="radio-checkmark"></span>
								<img src="/images/avatar-10.png" class="img-avatar" />
							</label>
						</div>
					</div>
				</div>
				<!--! Select Avatar -->

				<div class="col-md-12" style="display: flex; flex-wrap: wrap;">
					<div class="col-md-6">
						<input name="name" type="text" class="form-control formObject"
							placeholder="نام و نام خانوادگی *" value="<%= complete('name') %>" />
					</div>
					<div class="col-md-6">
						<input name="email" type="text" class="form-control formObject" placeholder="آدرس ایمیل"
							value="<%= complete('email') %>" style="text-align: left; direction: ltr;" />
					</div>
				</div>

				<div class="col-md-12" style="display: flex; flex-wrap: wrap;">
					<div class="col-md-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<span style="cursor: pointer; border: 0;" class="input-group-text formObject">
									<i toggle="#password" class="fa fa-fw fa-eye-slash field-icon toggle-password"></i>
								</span>
							</div>
							<input id="password" style="text-align: left; direction: ltr;" name="password"
								type="password" class="form-control formObject" placeholder="رمز عبور *"
								value="<%= complete('password') %>" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<span style="cursor: pointer; border: 0;" class="input-group-text formObject">
									<i toggle="#repeatPassword"
										class="fa fa-fw fa-eye-slash field-icon toggle-password"></i>
								</span>
							</div>
							<input id="repeatPassword" style="text-align: left; direction: ltr ;" name="repeatPassword"
								type="password" class="form-control formObject" placeholder="تکرار رمز عبور *"
								value="<%= complete('repeatPassword') %>" />
						</div>
					</div>
				</div>

				<div class="col-md-12" style="display: flex; flex-wrap: wrap;">
					<div class="col-md-6">
						<div class="form-group">
							<label>استان</label>
							<select class="form-control select" id="state" name="state">
								<% states.forEach(state => { %>
								<option value="<%= state._id %>"><%= state.title %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>شهر</label>
							<select class="form-control select" id="city" name="city"></select>
						</div>
					</div>
				</div>

				<input name="address" type="text" class="form-control formObject" placeholder="آدرس *"
					value="<%= complete('address') %>" />

				<button type="submit" class="btn btn-danger formObject">
					ثبت
				</button>
			</form>
		</div>
		<!--! Card Body -->
	</section>
</section>
<!--! Main Content -->

<% contentFor('script') %>
<script src="/plugins/jquery/dist/jquery.min.js"></script>
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/persian-date.min.js"></script>
<script src="/js/persian-datepicker.min.js"></script>
<script src="/plugins/select2/dist/js/select2.full.min.js"></script>
<script src="/js/select2.js"></script>
<script src="/js/profilepicker.js"></script>
<script src="/js/logopicker.js"></script>
<script src="/js/datepicker.js"></script>
<script src="/js/fetch.js"></script>

<script>
	const CITY_URL = '/auth/agent/city?_csrf=<%= req.csrfToken() %>';

	$(document).ready(async function () {
		let stateId = $('#state option:selected').val();
		await postData(CITY_URL, { id: stateId }).then((data) => {
			data.map((city) => {
				$('#city').append(`<option value="${city._id}">${city.title}</option>`);
			});
		});
	});

	$('#state').change(async () => {
		let stateId = $('#state option:selected').val();
		$('#city option').remove();
		await postData(CITY_URL, { id: stateId }).then((data) => {
			data.map((city) => {
				$('#city').append(`<option value="${city._id}">${city.title}</option>`);
			});
		});
	});

	$('.toggle-password').click(function () {
		$(this).toggleClass('fa-eye fa-eye-slash');
		var input = $($(this).attr('toggle'));
		if (input.attr('type') == 'password') {
			input.attr('type', 'text');
		} else {
			input.attr('type', 'password');
		}
	});
</script>