<% contentFor('body') %>
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>تغییر رمز عبور</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-left">
					<li class="breadcrumb-item"><a href="#">امنیت</a></li>
					<li class="breadcrumb-item active">تغییر رمز عبور</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<%- include(viewPath('layouts/errors')) -%>

<section class="card">
	<!--? Card Body -->
	<div class="card-body">
		<form class="form-horizontal content" action="/agent/password" method="POST" autocomplete="off">
			<input type="hidden" name="_csrf" value="<%= req.csrfToken() %>" />
			<div class="input-group" style="margin-bottom: 15px;">
				<div class="input-group-prepend">
					<span style="cursor: pointer;" class="input-group-text"><i toggle="#oldPassword"
							class="fa fa-fw fa-eye field-icon toggle-password"></i></span>
				</div>
				<input id="oldPassword" name="oldPassword" type="text" class="form-control formObject"
					placeholder="* رمز عبور قبلی" value="<%= complete('oldPassword') %>" dir="ltr" />
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<span style="cursor: pointer;" class="input-group-text"><i toggle="#newPassword"
							class="fa fa-fw fa-eye-slash field-icon toggle-password"></i></span>
				</div>
				<input id="newPassword" name="newPassword" type="password" class="form-control formObject"
					placeholder="* رمز عبور جدید" value="<%= complete('newPassword') %>" dir="ltr" />
			</div>
			<div class="input-group" style="margin-top: 15px;">
				<div class="input-group-prepend">
					<span style="cursor: pointer;" class="input-group-text"><i toggle="#repeatPassword"
							class="fa fa-fw fa-eye-slash field-icon toggle-password"></i></span>
				</div>
				<input id="repeatPassword" name="repeatPassword" type="password" class="form-control formObject"
					placeholder="* تکرار رمز عبور جدید" value="<%= complete('repeatPassword') %>" dir="ltr" />
			</div>
			<button style="margin-top: 15px;" type="submit" class="btn btn-danger">
				ثبت
			</button>
		</form>
	</div>
	<!--! Card Body -->
</section>

<script>
	$('.toggle-password').click(function () {
		$(this).toggleClass('fa-eye fa-eye-slash');
		var input = $($(this).attr('toggle'));
		if (input.attr('type') == 'password') {
			input.attr('type', 'text');
		} else {
			input.attr('type', 'password');
		}
	});
</script>